<html>
    <head>
        <title>CAR PRICE</title>
        <style>
            body {
              background-image: url('https://r1.ilikewallpaper.net/iphone-8-wallpapers/download/27163/Lamborghini-Car-Dark-Black-Awesome-iphone-8-wallpaper-ilikewallpaper_com.jpg');
              background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative
            }
            h2{
                color:white
            }
        </style>
    </head>
    <body><center>
        <div><br><br><br><br>
            <h2>{{msg}}</h2>
        </div></center>
    </body>
</html>